{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "airbnb",
  "rules": {
    "func-names": 0,
    "semi": 0,
    "max-len": 0,
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2
    ]
  },
  "globals": {
    "document": true,
    "window": true
  }
}