.dark-theme {
    --footer: #1b1a1f;
    --backgroundColor1: #000;
    --backgroundColor2: #735443;
    --menuBorderShadow: #fff;
    --menuTextColor: rgba(255, 255, 255, 0.5);
    --menuTextColorHover:rgb(84, 74, 140);
    --menuMobileNavColor: rgba(255, 255, 255, 0.5);
    --textColorGlobal: #fff;
    --buttonColorMenu: #fff;
}