.light-theme {
    --footer: #fbfbfb;
    --backgroundColor1: #F2F3F8;
    --backgroundColor2: #F2F3F8;
    --menuBorderShadow: #fff;
    --menuTextColor: rgba(2, 2, 2, 0.5);
    --menuTextColorHover: rgb(27, 11, 119);
    --menuMobileNavColor: rgba(0, 0, 0, 1);
    --textColorGlobal: #000;
    --buttonColorMenu: #1976d2;
}