@font-face {
  font-family: 'TeXGyreHeros-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreHeros-Regular'), url('../assets/fonts/texgyreheros-regular.woff') format('woff');
}

@font-face {
  font-family: 'TeXGyreHeros-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreHeros-Bold'), url('../assets/fonts/texgyreheros-bold.woff') format('woff');
}

@import "./dark-theme.scss";
@import "./light-theme.scss";

@import "../components/bundle.scss";
@import "../containers/bundle.scss";
@import "../views/bundle.scss";

