.infoBar {
    position: fixed;
    background-color: var(--infoBar);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
    color: white;
    //position: fixed;
    flex-shrink: 0;
}

.infoBar p {
    margin: 0;
    padding: 0;
}