.runesExplorerLinkImage {
    margin: auto;
    justify-content: center;
    display: flex;
}

.runesExplorerLinkImage img{
    width: 50%;
}

.underlineText {
    text-decoration: underline;
}

.arrow {
    width:100%;
    vertical-align: middle;
}

.line {
  display: table-cell;
    margin-top:14px;
    width:100%;
    background:blue;
    height:10px;
    float:left;
    vertical-align: top;
}
.flippedArrow .line {
    background: red;
}

.point {
  display: table-cell;	
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid blue;
}

.flippedArrow .point {
    border-left: 30px solid red;
}
#left {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
#right {    
    display: table-cell;
    min-width: 30px;
}
.flippedArrow {
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */  
    filter: FlipH;                 /* IE 6/7/8 */
  }

.wrapperArrow {
    position: relative;
    height: 100%;
}
.innerWrapperArrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);

}
.svgContainer
{
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
    margin: auto;
}

.svgVertical
{
  margin: 0 auto;
  display: block;
}

.amountCell {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.dateCell {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}
.confirmationsCell {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(0, 0);
}