.walletInfoWrapper{
    float: right;
}

.walletInfoBalance{
    width: 100%;
}
.walletInfoAddress{
    width: 100%;
}
#headlessui-portal-root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: gray;
}
.flexorItem {
  float:left;
  width: 100%;
}
.flexorItem svg {
  max-width: 50%;
  width: 50%;
}
.flexor {
  float:left;
}
.logo {
}

@screen md {
  .logo {
    width: 180px;
  }
}

@screen xl {
  .logo {
    width: 240px;
  }
}

.disconnected {
    @apply h-8 py-2 px-6 text-white text-base font-medium rounded-md flex items-center justify-center bg-blue-500 hover:bg-blue-600;
  }
  
  .connected {
    @apply h-8 py-2 px-6 text-black text-base font-medium rounded-md flex items-center justify-center bg-blue-300;
  }
  
  .networkName {
    @apply h-8 py-2 px-6 text-blue-500 text-base font-medium rounded-md flex items-center justify-center bg-blue-900 bg-opacity-25;
  }
  