// Containers
html, body {
  margin: 0;
  padding: 0;
  font-family: 'TeXGyreHeros-Regular';
  height: 100%;
}

body {
  //background: #000;
  //background: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

.content {
  position: relative;
  flex: 1;
  z-index: 20;
  padding-bottom: 50px;
  color: var(--textColorGlobal);
}

.height100 {
  height: 100%;
}

// Tables

.content th {
  color: var(--textColorGlobal);
}

.content td {
  color: var(--textColorGlobal);
}

// Buttons
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.nextArrowDisabled.css-i4bv87-MuiSvgIcon-root {
  color: #cccccc;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.previousArrowDisabled.css-i4bv87-MuiSvgIcon-root {
  color: #cccccc;
}
// Text

.content {
  color: var(--textColorGlobal);
}

h2 {
  text-shadow: 0 0 black;
}

.text-center {
  text-align: center !important;
}

// Input fields
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
  color: var(--textColorGlobal);
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: 1px solid var(--textColorGlobal);
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root label {
  color: var(--textColorGlobal);
}

p.MuiFormHelperText-root.MuiFormHelperText-sizeMedium.MuiFormHelperText-contained.css-1wc848c-MuiFormHelperText-root {
  color: #ff3333;
}

label.outlined-email-field-label {
  color: var(--textColorGlobal);
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd {
  color: var(--textColorGlobal);
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
  color: var(--textColorGlobal);
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--textColorGlobal) !important;
}

input.outlined-email-field {
  color: var(--textColorGlobal);
}

input.outlined-adornment-password {
  color: var(--textColorGlobal);
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: var(--textColorGlobal);
}

.form-error {
  color: red;
}