.signinContainer label.outlined-email-field-label {
    color: white;
}
.signinContainer button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd {
    color: white;
}

.signinContainer label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    color: white;
}

.signinContainer .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.signinContainer input.outlined-email-field {
    color: white;
}

.signinContainer input.outlined-adornment-password {
    color: white;
}